
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        
    <h2 id="datetime"></h2>
    <form asp-action="Time">
        <input hidden id="sentTime"/>
        <button id="start">Старт</button>
        <button id="stop" hidden>Стоп</button>
        <button id="reset" hidden type="submit">Сброс</button>
        <h2 id="display">00:00:00</h2>
        <p>@ViewBag.Time</p>
    </form>
    
    
</div>
