@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="timer">00:00:00</h1>
    <button id="startBtn">Старт</button>
    <button id="pauseBtn" disabled>Пауза</button>
    <button id="resetBtn" disabled>Сброс</button>
</div>
